.title-page {
    font-family: SFD-Bold;
    text-align: center;
    text-transform: capitalize;
}
@media (max-width: 575px)
{
    .title-page {
        font-size: 26px;
        margin: 20px 0 10px;
    }
}
@media (min-width: 576px)
{
    .title-page {
        font-size: 32px;
        padding-top: 10px;
        margin-bottom: 20px;
    }
}