.block-job {
	margin: 30px 0;
	background-color: #F3F5FB;
	padding: 20px 0 30px;
	p {
		padding: 20px 0;
		text-align: center;
		span {
			color: #333;
			font-weight: 700;
			font-size: 22px;
			text-transform: uppercase;
			line-height: 1.6;
		}
		a {
			margin: 0 10px;
			color: #333;
			border: 1px solid #333;
			padding: 5px 15px;
			font-size: 15px;
			transition: 0.2s all;
			border-radius: 30px;
		}
	}
}
@media (max-width: 575px) {
	.block-job {
		display: none;
	}
}