@media (max-width: 575px) {
	.list-hot-cat {
		.lhc-item {
			flex: 0 0 calc(100%/3);
		}
	}
}
@media (min-width: 576px) {
	.box-hot-cat {
		padding: 15px 0 20px;
		&-title {
			margin-bottom: 30px;
	    	font-size: 25px;
		}
	}
}
@media (min-width: 768px) {
	.list-hot-cat {
		.lhc-item {
			flex: 0 0 calc(100%/6);
		}
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	.list-hot-cat {
		.lhc-item {
			flex: 0 0 calc(100%/4);
		}
	}
}
.box-hot-cat .box-hot-cat__title {
    position: relative;
    .view-more {
        position: absolute;
        top: 0;
        right: 0;
        a {
            color: $main-text-sub;
            font-size: 14px;
            i {
                margin-left: 5px;
            }
        }
    }
}
.list-hot-cat {
	padding-top: 10px;
	display: flex;
	flex-wrap: wrap;
	.hot-cat {
		img {
			width: 50%;
		    margin-bottom: 10px;
		}
		p {
			span {
				font-size: 14px;
			    line-height: 1.5;
			}
		}
	}
	.lhc-item {
		padding: 1% 2%;
		text-align: center;
		margin-bottom: 2%;
	}
	.lhc-item:hover {
		transition: 0.3s all;
		box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
	}
}