.navbar-responsive__form {
	margin: 0 auto;
	position: relative;
	input {
		float: right;
		width: 100%;
		height: 34.5px;
		border-radius: 100px;
		border: none;
		text-indent: 5%;
		animation: input-nav 0.3s;
	}
	button {
		height: 34.5px;
		color : #fff;
		background: #323973;
		position: absolute;
		top: 0;
		right: 0;
		border-radius: 100px;
	}
}
@media (min-width: 992px) {
	.navbar-responsive__form {
		align-items: center;
		flex: 0 0 30%;
		margin: 0 0 0 auto;
		button {
			width: 75px;
		}
		a.navbar-close-search {
			position: absolute;
			top: 7px;
			right: -40px;
		}
	}
}