.tags {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 20px;
    .item {
        a {
            font-size: 15px;
            font-weight: 400;
            text-transform: capitalize;
            color: #484848;
            &:hover, &.active {
                color: #2c87f3;
            }
        }
    }
}
@media (min-width: 992px) {
    .tags {
        .item {
            padding: 7px 0;
            flex: 0 0 23%;
            margin-left: calc(8%/3);
        }
        .item:nth-of-type(4n+1)
        {
            margin-left: 0;
        }
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .tags {
        .item {
            padding: 7px 0;
            flex: 0 0 31%;
            margin-left: calc(7%/2);
        }
        .item:nth-of-type(3n+1)
        {
            margin-left: 0;
        }
    }
}
@media (min-width: 475px) and (max-width: 767px){
    .tags {
        .item {
            padding: 5px 0;
            flex: 0 0 49%;
            margin-left: 2%;
        }
        .item:nth-of-type(2n+1)
        {
            margin-left: 0;
        }
    }
}
@media (max-width: 474px){
    .tags {
        .item {
            padding: 5px 0;
            flex: 0 0 100%;
        }
    }
}