#header {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    .header__left {
        display: flex;
        align-items: center;
        .toggle-tab {
            padding: 0 25px;
            a {
                color: #606060;
                font-size: 21px;
            }
        }
        .logo {
            line-height: 1;
            width: 90px;
            img {
                width: 100%;
                object-fit: contain;
            }
        }
    }
    .header__search {
        .form-search-header {
            display: flex;
            flex-direction: row;
            .input-search {
                width: 100%;
                position: relative;
                border: 1px solid #ccc !important;
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
                input {
                    width: 97%;
                    padding: 5px !important;
                    border: none !important;
                    font-size: 16px;
                }
                .keyboard {
                    position: absolute;
                    font-size: 18px;
                    top: 5px;
                    line-height: 1;
                    right: 10px;
                }
            }
            .btn-search {
                width: 70px;
                display: flex;
                align-items: center;
                justify-content: center;
                outline: none;
                background-color: #f6f6f6;
                border: 1px solid #ccc;
                color: #606060;
                &:hover {
                    background-color: #f2f2f2;
                    color: #333;
                }
            }
            .micro {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 15px;
                i {
                    color: #606060;
                    font-size: 20px;
                }
            }
        }
    }
    .header__right {
        padding-right: 20px;
        .menu-right {
            display: flex;
            align-items: center;
            &__item {
                position: relative;
                line-height: 1;
                padding: 5px 0;
                cursor: pointer;
                &:not(:last-child)
                {
                    margin-right: 30px;
                }
                i {
                    font-size: 20px;
                    color: #606060;
                }
                img.avatar {
                    width: 35px;
                    height: 35px;
                    object-fit: contain;
                }
                .drop-menu {
                    border: 1px solid #f2f2f2;
                    box-shadow: none;
                }
            }
            .list-app, .upload-video{
                .drop-menu {
                    i {
                        color: red;
                    }
                }
            }
        }
    }
}
@media (min-width: 1200px)  {
    .header__search {
        flex: 0 1 728px;
    }
}
@media (min-width: 992px) and (max-width: 1199px)  {
    .header__search {
        flex: 0 1 500px;
    }
}
@media (min-width: 768px) and (max-width: 991px)  {
    .header__search {
        flex: 1;
        margin: 0 30px;
    }
}
@media (min-width: 767px){
    .item-search {
        display: none;
    }
}
@media (max-width: 767px){
    .header__search {
        display: none;
    }
    .item-search {
        display: block;
    }
}
@media (max-width: 425px){
    #header {
        .toggle-tab {
           padding: 0 15px 0 10px !important;
        }
        .list-notify, .list-app {
            display: none;
        }
        .header__right {
            padding-right: 10px !important;
        }
    }
}